.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.bubble {
  max-width: 70%;
  width: fit-content;

  padding: 10px 12px;

  background-color: #7d241c;
  color: #fff;

  border-radius: 12px 12px 0 12px;

  word-wrap: break-word;

  display: inline-block;
}