.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* PERMITE QUE OS CARDS QUEBREM PARA A PRÓXIMA LINHA */
  padding: 20px;
}

.card {
  width: 360px;
  height: 140px;
  background-color: #264228;
  border-radius: 20px;
  transition: all 0.3s ease;
  
  /* ALINHA A IMAGEM E O TEXTO LADO A LADO */
  display: flex; 
  align-items: center; 
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img2 {
  width: 160px;
  height: 120px;
  margin: 10px;
  border-radius: 20px;
  object-fit: cover;
  flex-shrink: 0; 
}

.categoria {
  color: #F9F5E6;
  font-weight: bold;
  padding: 0 15px 0 5px;
  text-align: center;
  flex-grow: 1;
  font-size: 2rem; 
  line-height: 1.3;
}