.footer {
  min-height: 100px;

  background-color: #7d241c;

  border-top: 2px solid #2f9cf5;

  display: flex;

  align-items: center;

  padding: 0 40px;
}

.left {
  flex: 1;

  display: flex;

  align-items: center;

  color: #F9F5E6;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.left:hover {
  color: #ffd54f;
}

.left p {
  font-size: 15px;
}