html,
body,
#root {
  height: 100%;
  background-color: #F9F5E6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
}
body {
  width: 100vw;
  background-color: #F9F5E6;
  align-items: center;
  font-size: 1.6rem;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F9F5E6;
}
.content {
  flex: 1;
  background-color: #F9F5E6;
}