*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:"Tangerine", Arial, Helvetica, sans-serif; */

}

html{
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  width: 100vw;
  background: #F9F5E6;
  align-items: center;
  font-size: 1.6rem;
  
}